@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(219, 112, 147, 0.7);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 20px 20px rgba(219, 112, 147, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(219, 112, 147, 0);
    }
}

.Ellipse {
    

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 6px 8px plum;
    font-weight: bold;
    font-size: 18px;
    color: bisque;
    animation: pulse 2s infinite;
}

