.section2 {
    position: relative;
    background: -webkit-linear-gradient(0deg, rgb(0, 0, 0), rgb(186, 147, 104), rgb(217, 178, 126));
background: -moz-linear-gradient(0deg, rgb(0, 0, 0), rgb(186, 147, 104), rgb(217, 178, 126));
background: linear-gradient(0deg, rgb(0, 0, 0), rgb(186, 147, 104), rgb(217, 178, 126));
    min-height: 100vh;
    padding-top: 50px; /* Ensure there is enough space to see the blur effect */

    .section2_inner {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
        }
        .center{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 100px;
            justify-content: space-between;
            
        
        }
        .order-product{
            width: 200px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid white;
            color: white;
            font-size: 56px;
            font-weight: bold;
            padding: 15px;
            transition: border-bottom 1s ease-out;
            transition: color 1s ease-in-out;
            @include hover{
                border-bottom: 7px solid palevioletred;
                color: palevioletred;
                
            }

            

            @include tablet{
                width: 200px;
                height: 60px;
                font-size: 46px;
                font-weight: bold;
            }
            @include mobile{
                width: 160px;
                height: 40px;
                font-size: 36px;
                font-weight: normal;
            }
        }

        .left {
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile {
                gap: 20px;
                justify-content: center;
            }

            .s1tEllipse-coneiner {
                width: 300px;
                display: flex;
                justify-content: end;
                @include mobile {
                    justify-content: center;
                    width: 150px;
                }
            }

            .s3tEllipse-coneiner {
                width: 300px;
                display: flex;
                justify-content: end;
                @include mobile {
                    justify-content: center;
                    width: 150px;
                }
            }

            .s2tEllipse-coneiner {
                width: 300px;
                display: flex;
                justify-content: start;
                @include mobile {
                    justify-content: center;
                    width: 150px;
                }
            }
        }

        .rite {
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile {
                gap: 20px;
                justify-content: center;
            }

            .s1tEllipse-coneiner {
                width: 300px;
                display: flex;
                justify-content: start;
                @include mobile {
                    justify-content: center;
                    width: 150px;
                }
            }

            .s2tEllipse-coneiner {
                width: 300px;
                display: flex;
                justify-content: end;
                @include mobile {
                    justify-content: center;
                    width: 150px;
                }
            }

            .s3tEllipse-coneiner {
                width: 300px;
                display: flex;
                justify-content: start;
                @include mobile {
                    justify-content: center;
                    width: 150px;
                }
            }
        }
    }
}